{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Restablecer tu contraseña en maneapp Shop</title>
</head>
<body style="margin:0;padding:0;">
    <div style="max-width:500px;margin:0 auto;text-align:center;">
        <img src="https://raw.githubusercontent.com/Perruchok/besta_pictures/refs/heads/main/corazon.png" alt="maneapp Shop" style="width:160px;margin-top:24px;margin-bottom:16px;">
        <h2 style="margin-bottom:8px;">¡Hola {{ user }}!</h2>
        <p>Hemos recibido tu solicitud para restablecer tu contraseña en maneapp Shop.</p>
        <p>Por favor, haz clic en el siguiente enlace para restablecer tu contraseña:</p>
        <p><a href="{{ reset_link }}">Restablecer contraseña</a></p>
        <p>Si no fuiste tú quien solicitó este cambio, puedes ignorar este correo.</p>
        <br>
        <p>Gracias,</p>
        <p>El equipo de maneapp</p>
    </div>
</body>