{% extends "shop/layout.html" %}
{% load static %}

{% block title %}Solicitar restablecimiento de contraseña{% endblock %}

{% block main %}
<br>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<div class="custom_titulos">
  <img src="{% static 'shop/REEST.png' %}" alt="restablecer contraseña">
</div>

<p class="text-center mt-3">
  Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
</p>

<div class="form_init">
  <form action="{% url 'password_reset_request' %}" method="post">
    {% csrf_token %}
    <div class="form-group mb-3">
        <input autofocus class="form-control" type="email" name="email" placeholder="Tu correo electrónico" required>
    </div>
    <button type="submit" class="btn btn-lg btn-bisel" style="background:none; border:none; padding:0;">
      <img src="{% static 'shop/ENLACE.png' %}" alt="Enviar enlace" style="width:180px;">
    </button>
  </form>
</div>

<br><br><br>
{% endblock %}